#Name.form-control,#Email.form-control,div.row{
  background: url(../src/Recursos/tono.bmp) no-repeat center;
}
.nav-link,.form-wrapper{
  font-style: italic;
  
}

.wrapper {
  padding-top: 30px;
  background: url(../src/Recursos/fondo.jpg) no-repeat center;
  
}
.container{
  background: url(../src/Recursos/tono.bmp) no-repeat center;
}
body h3,body{
  margin-bottom: 25px;
 
}


.navbar-brand a {
  color: #a83b3b;
}


.form-wrapper,

.table-wrapper {
  max-width: 500px;
  margin: 0 auto;
  color:#4c945e9c
}

.table-wrapper {
  max-width: 700px;
}

.edit-link {
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: rgb(3, 3, 3);
  background-color: #e9ec0c;
  border-color: #28a745;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.edit-link:hover {
  text-decoration: none;
  color: #e7eb29;
}
.navbar-dark{
  color: #ec0c0c;
}